<div class="form-container">
  <h2>Submit a case report</h2>

  <h3>Patient's location</h3>
  <div class="map">
    <h4 *ngIf="locationErrorMessage">
      {{ locationErrorMessage }}
    </h4>
    <agm-map [latitude]="report.coords.latitude"
             [longitude]="report.coords.longitude"
             [zoom]="6">
      <agm-marker [latitude]="report.coords.latitude"
                  [longitude]="report.coords.longitude">
      </agm-marker>
    </agm-map>
    <mat-action-row>
      <button mat-raised-button color="secondary"
              (click)="currentLocationService.update()">
        Update Location
      </button>
    </mat-action-row>
  </div>
  <hr>

  <form (ngSubmit)="submit()" #reportForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Patient ID" [(ngModel)]="report.patientId"
             name="patientId" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Patient name" [(ngModel)]="report.patientName"
             name="patientName" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Diagnosis" [(ngModel)]="report.diagnosis"
                  name="diagnosis" required>
        <mat-option *ngFor="let diagnosis of report.diagnosisKeys" [value]="diagnosis">
          {{ report.diagnosisOptions[diagnosis] }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput maxlength="256" placeholder="Notes" [(ngModel)]="report.notes"
             name="notes">
      <mat-hint align="start">Add notes as required</mat-hint>
    </mat-form-field>

    <mat-action-row>
      <button mat-raised-button type="submit" color="primary"
              [disabled]="!reportForm.valid">
        Submit Report
      </button>
    </mat-action-row>
  </form>
</div>
