@import '~sass/variables';
@import '~sass/mixins';

agm-map {
  height: 200px;
}

.form-container {
  width: 90%;
  margin: 1rem auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}
.example-full-width {
  width: 100%;
}
