.custom-day {
  text-align: center;
  padding: 0.1rem 0.12rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.disabled {
  opacity: 0.2;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
ngb-datepicker:focus {
  outline: none;
}
