<div class="analysis">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>list</mat-icon>
        Select Destination
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-spinner *ngIf="loading">
    </mat-spinner>

    <div *ngIf="!loading">
      <p><em></em></p>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>local_airport</mat-icon>
        Finalise your trip
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</div>
