<form #searchForm="ngForm">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>input</mat-icon>Options
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-raised-button color="primary">
        Next
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>flight_land</mat-icon> Inbound dates
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p><em>You can click twice to select a range</em></p>
    <date-range #inboundDateRange (dateRangeChange)='inboundDateRangeChanged($event)'>
    </date-range>
    <mat-action-row>
      <button mat-raised-button color="primary" (click)="submit()">
        <span *ngIf="!inboundSelected">One-way only</span>
        <span *ngIf="inboundSelected">Next</span>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</form>
